/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif; /* Fonte padrão */
    background-color: #f5f8fa; /* Fundo claro */
    color: #14171a; /* Texto escuro */
    padding: 20px;
}

/* Frase de boas-vindas */
.welcome-message {
    font-size: 18px; /* Tamanho da fonte menor */
    color: #17BF63; /* Cor verde */
    margin-bottom: 10px;
}
.container{
    display: flex;
}

/* Container principal */
.container_perfil {
    width: 400px; /* Largura reduzida */
    background-color: #ffffff; /* Fundo branco para o perfil */
    border-radius: 8px;
    border: 1px solid #cccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-right: 20px; /* Alinhado à esquerda */
    border-left: 5px solid #17BF63; /* Delimitação vertical */
    /*position: relative; /* Para posicionar o botão de logout */
}

.container_bio{
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    width: 800px; 
}

.container p {
    margin: 15px 0; /* Espaçamento vertical entre parágrafos */
}

/* Estilo da foto de perfil */
.profile-photo {
    width: 100px; /* Largura da foto */
    height: 100px; /* Altura da foto */
    border-radius: 50%; /* Formato circular */
    object-fit: cover; /* Cobre todo o espaço */
    margin-bottom: 15px; /* Espaçamento abaixo da foto */
}

/* Nome do cozinheiro */
.name {
    font-size: 24px; /* Tamanho maior para o nome */
    font-weight: bold;
    margin-bottom: 5px;
}

/* Container para idade, especialização e experiência */
.info-container {
    margin-bottom: 10px;
}

/* Estilo para as informações */
.info {
    font-size: 16px; /* Tamanho da fonte */
}

/* Destacar palavras em negrito */
.bold {
    font-weight: bold; /* Negrito */
}

/* Botão de Logout */
.logout-button {
    background-color: #738bbe; /* Cor de fundo para o botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; /* Posicionar o botão no canto superior direito */
    top: 10px;
    right: 20px;
}

.logout-button:hover {
    background-color: #3a4a6e; /* Cor ao passar o mouse */
}

.biografia-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-left: 20px; /* Espaço entre os dois containers */
    width: 300px; /* Defina uma largura adequada para o container da biografia */
    display: inline-block; /* Faz o container se posicionar ao lado do outro */
    vertical-align: top; /* Alinha verticalmente ao topo */
}

h2 {
    color: #2c3e50; /* Cor para o título */
}

.container_receitas {
    margin-top: 20px;
}

.container_receitas h2 {
    font-size: 1.5em; /* Tamanho da fonte do título */
    color: #333; /* Cor do texto do título */
    margin-bottom: 15px; /* Margem inferior do título */
}

.container_receitas ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno da lista */
}

.receita_content {
    display: flex;
    align-items: flex-start; /* Alinha a descrição ao topo da imagem */
}

.receita_item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.receita_img {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
}

.receita_img img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.receita_descricao {
    flex: 2;
    text-align: left;
    font-size: 16px;
    line-height: 2;
}

.receita_item h3 {
    font-size: 20px; /* Tamanho da fonte do nome da receita */
    color: #333; /* Cor do texto do nome da receita */
    margin-bottom: 5px; /* Margem inferior do nome da receita */
}

.receita_item img {
    display: block; /* Para exibir a imagem como um bloco */
    margin-top: 10px; /* Margem superior da imagem */
    border-radius: 5px; /* Bordas arredondadas da imagem */
    max-width: 100%; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
}

.perfil_edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.btn_edit{
    padding: 10px 20px;
    background-color: #3a4a6e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto; /* Alinha o botão à direita */
    transition: background-color 0.3s ease;
}

.btn_edit:hover{
    background-color: #2c3e50;;
}