* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f8fa;
    color: #14171a;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #2c3e50;
}

.container_competencias {
    margin: 0 auto;
    margin-top: 20px;
}

.container_competencias h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.container_competencias ul {
    list-style-type: none;
    padding: 0;
}

.competencia_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}

.competencia_descricao {
    text-align: left;
    font-size: 16px;
    line-height: 2;
}

.competencia_item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.competencia_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.checkbox {
    margin: 18px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.btn_competencia {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
}

.btn_voltar, .btn_excluir_competencias {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_voltar:hover, .btn_excluir_competencias:hover {
    background-color: #2980b9;
}

.btn_excluir_competencias {
    background-color: #e74c3c;
}

.btn_excluir_competencias:hover {
    background-color: #c0392b;
}

.competencia_titulo {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.competencia_descricao {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.competencia_proficiencia {
    font-size: 14px;
    color: #777;
}
