* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px; /* Define uma largura máxima menor */
    width: 100%; /* Permite que a largura ocupe 100% até o limite da largura máxima */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leve sombra para destacar o conteúdo */
}

.section {
    margin-bottom: 40px;
}

.titulo {
    margin-bottom: 20px;
    color: #46994a;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 15px;           /* Aumenta a altura do botão */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 80%;              /* Reduz a largura do botão */
    max-width: 100%;        /* Largura máxima do botão */
    margin: 0 auto;          /* Centraliza o botão */
    display: block;
}

.btn:hover {
    background-color: #46994a;
}

/* Alinhamento dos botões dentro de .btn_group */
.btn_group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.competencias, .receitas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.competencia-item, .receita-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.competencia-item h3, .receita-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.receita-content {
    display: flex;
    gap: 15px;
}

.receita-img img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.receita-descricao {
    flex-grow: 1;
}

#select-competencia, #select-receita {
    width: 100%; /* Ajuste a largura conforme necessário, aqui define a largura completa do container */
    max-width: 400px; /* Largura máxima, altere conforme desejado */
    padding: 5px;
    margin-top: 5px;
}

#competencias-list p, #receitas-list p {
    white-space: normal;        /* Evita que o texto quebre para uma nova linha */
    overflow: hidden;           /* Oculta o conteúdo que ultrapassa o container */
    word-wrap: break-word;
    max-width: 100%;
    padding-top: 5px;            /* Limita a largura ao tamanho do container */
}

#error-message {
    display: none;            /* A mensagem começa oculta */
    color: red;               /* Cor do texto em vermelho para erros */
    font-weight: bold;
    text-align: center;       /* Centraliza o texto */
    margin-top: 10px;         /* Espaçamento acima */
}
