body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
    margin: 0; 
    padding: 0; 
}

.cad-container {
    width: 50%;
    max-width: 1200px;
    margin: 1% auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    color: #3a4a6e; 
    text-align: left; 
    font-size: 24px; 
    margin-bottom: 20px;
}

.campo_upload, .campo_nome, .campo_email, .campo_data, .campo_contato {
    margin-bottom: 20px; 
    width: 95%;
}

.campo_especializacao_experiencia {
    display: flex; 
    justify-content: space-between; 
    width: 80%;
}

.campo_biografia{
    width: 95%;
}

.campo_especializacao, .campo_experiencia {
    flex: 1; 
    margin-right: 10px; 
}

.campo_especializacao:last-child {
    margin-right: 0; 
}

#contato{
    margin-top: 20px;
}

.lbl_cad {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
}

.input_cad {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

select.input_cad {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn_salvar {
    width: 100%; 
    padding: 10px; 
    background-color: #738bbe;
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 20px; 
}

.btn_salvar:hover {
    background-color: #3a4a6e; 
}

.campo_upload input[type="file"] {
    display: block; 
    margin-top: 5px; 
}

#input_bio{
    height: 150px;
}


.btn_delete{
    margin-top: 5%;
    display: inline-block;
    width: 94%;
    padding: 20px; 
    background-color: #b92929;
    color: white; 
    border: none;
    text-decoration: none;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
}

.btn_delete:hover {
    background-color: #b92929; 
}